@font-face {
    font-family: Rock Salt;
    src: url("../../../public/RockSalt-Regular.ttf");
}


.container {
    padding-top: 30px;
}

.titulo{
    margin-top: 50px;
    text-align: center;
    color: #FFF;
    text-shadow: 0px 0px 10px #00C1EC;
    font-size: 30px;

}

.title-back-container {
    width: 160px;
    height:50px;
    border: 1px solid #00C1EC;
    border-radius:5px;
    margin-left:30px;
    background: rgba(0, 193, 236, 0.19);
    
}

.title-front-container{
    width: 160px;
    height:50px;
    border: 1px solid #00C1EC;
    border-radius:5px;
    margin-top: 5px;
    margin-left: 5px;
    text-align: center;
    font-family: Rock Salt;
    font-size: 24px;
    font-weight: 500;
    box-shadow: -2px -3px 3px #00C1EC;
}

.shadow-title{
    /* text-shadow: 0.05em 0 0 rgba(255,0,0,0.75),
     -0.025em -0.05em 0 rgba(0,0,255,0.75),
      0.025em 0.05em 0 rgba(0,255,0,0.75); */
      filter: drop-shadow(-2px -3px 3px #FF34C6);
    
}

.blanco {
    color: #BBEFFF;
}

.rosa {
    color: #FF34C6;
    animation: off 12s infinite;
    animation-delay:3s;
}


@keyframes off {
    0% {
        text-shadow: none;
        color:#000;
    }
    3% {
        color: #FF34C6;
    }
    5%{
        color:#000;
    }
    6%{
        color:#FF34C6;
    }
}

@media (min-width: 767px) {
    .title-back-container {
        width: 200px;
        height:70px;
 
        
    }
    .title-front-container{
        width: 200px;
        height:70px;
        font-size: 30px;

    }
}

@media (min-width: 1024px) {
    .titulo {
        font-size: 40px;
        margin-top:70px;
    }

}
