.container-description {
    margin-left: 16px;
    margin-top: 40px;
    width: 250px;
    height: 420px;
    background: linear-gradient(90deg, rgba(46, 46, 46, 0.7) 88%, rgba(89,26,81,1) 100%);
    /* border: 1px solid #000000; */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0);
}

.text-description {
    margin-left: 10px;
    margin-right: 10px;
    padding-top:5px;
    color: #e8e8e8;
    text-align: center;
    
}

.title-tick {
    text-shadow: 2px 2px 4px #FF34C6, -2px -2px 3px #00C1EC; 
    
}

a { 
    text-decoration: none;
}

a:visited {
    color: #FF34C6;
  }
  
a:link {
    color: #FF34C6;
}

