.pesentacion {
    margin-top: -100px;
    margin-left: 40px;
    max-width: 20.5rem;
    height: 10rem;
    background: rgba(255, 52, 198, 0.09);
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 3px;
    color: #f2f2f2;
    position: relative;
}

.textPresentacion {
    margin-left: 10px;
}