.container-tick{
    margin-top: 40px;
    position: absolute;
    right:16px;
}

.tick-back { 
    width: 70px;
    height: 400px;
    background: rgba(255, 52, 198, 0.25);
    border: 1px solid #FF34C6;
    border-radius: 5px;
}
.tick-front {

    width: 70px;
    height: 400px;
    background: rgba(255, 52, 198, 0.25);
    border: 2px solid #00C1EC;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: -10px;
    font-size:34px;
    text-align: center;
    font-weight: normal;
    
}

.tick-text {
    color: #00C1EC;
    text-shadow: 0px 0px 4px #FF34C6;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-content: space-around;
    margin-top: 14px;
}

.space {
    width: 10px;
    height:10px
}


@media (min-width: 767px) {
        .container-tick{
        margin-top: 75px;
        position: absolute;
        right:30px;
    }
    
    .tick-back { 
        width: 80px;
        height: 450px;

    }
    .tick-front {
    
        width: 80px;
        height: 450px;
        font-size:38px;
    }
    
}

@media (min-width: 1000px) {
    .container-tick{
    right:150px;
    }
}
@media (min-width: 1300px) {
    .container-tick{
    right:250px;
    }
}
@media (min-width: 1400px) {
    .container-tick{
    right:400px;
    }
}